h1 {
  color: #984874;
  border-bottom: 1px solid #984874;
}

img {
  border-radius: 50%;
  height: 200px;
}

div {
  background-color: #dddddd;
}

.header {
  margin: 0;
  padding: 5px 10px;
  background-color: #eeeeee;
}

div.body {
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 800px;
}